$white: #ffffff;
$black: #000000;
$primaryBlue100: #00A1F1;
$primaryBlue200: #007FBE;
$primaryPurple: #FF8C19;
$secondaryBlue100: #005376;
$secondaryBlue200: #003348;
$secondaryBlue300: #001F2B;
$green: #3CA94E;
$red: #FF302E;
$gray100: #F2F2F2;
$gray200: #DCDCDC;
$gray300: #ACACAC;
$gray400: #555555;
$gray500: #303030;