.form-group {
    position: relative;
    .input {
        width: 100%;
        height: 42px;
        padding: 0 24px;
        display: inline-block;
        background-color: $white;
        color: $gray400;
        font-size: 16px;
        font-weight: 400;
        border: 2px solid $gray200;
        border-radius: 8px;
        transition: all 0.1s linear;
        &::placeholder {
            color: $gray200;
        }
        &:focus {
            outline: none;
            border-color: $primaryBlue100;
        }
        &[data-message='success'] {
            border-color: $green;
        }
        &[data-message='warning'] {
            border-color: $primaryPurple;
        }
        &[data-message='error'] {
            border-color: $red;
        }
    }
    .status-message {
        position: absolute;
        bottom: -20px;
        font-size: 12px;
        font-weight: 400;
        color: currentColor;
    }
}