/*
fz means 'font-size'
*/

.fz50 {
    font-size: 50px;
}

.fz38 {
    font-size: 38px;
}

.fz28 {
    font-size: 28px;
}

.fz21 {
    font-size: 21px;
}

.fz12 {
    font-size: 12px;
}

.fz16 {
    font-size: 16px;
}

.fz14 {
    font-size: 14px;
}

.fz12 {
    font-size: 12px;
}


/*
Font weights
*/

.fw-400 {
    font-weight: 400;
}

.fw-700 {
    font-weight: 700;
}


/*
Colors classnames
*/

.white {
    color: $white;
}

.gray100 {
    color: $gray100;
}

.gray200 {
    color: $gray200;
}

.gray300 {
    color: $gray300;
}

.gray400 {
    color: $gray400;
}

.gray500 {
    color: $gray500;
}