html,
button,
input,
input::placeholder,
textarea,
textarea::placeholder {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

.sm-screen {
    display: none;
    @media only screen and (max-width: 776px) {
        display: block;
    }
}

.lg-screen {
    display: block;
    @media only screen and (max-width: 776px) {
        display: none;
    }
}

.arrow {
    width: 16px;
    height: 16px;
    background-image: url('../assets/arrow-right.svg');
    background-repeat: no-repeat;
    background-size: initial;
    background-position: center;
    &.arrow-left {
        transform: rotate(-180deg);
    }
    &.arrow-bottom {
        transform: rotate(90deg);
    }
}

.form-group {
    position: relative;
    .status-message {
        position: absolute;
        bottom: -20px;
        font-size: 12px;
        font-weight: 400;
        color: currentColor;
    }
}