@import "reset.scss";
@import "mixins.scss";
@import "utils.scss";
@import "common.scss";
@import "uiLib/colors.scss";
@import "uiLib/typography.scss";
@import "uiLib/buttons/buttons-main.scss";
@import "uiLib/buttons/default.scss";
@import "uiLib/buttons/neutral.scss";
@import "uiLib/buttons/primary.scss";
@import "uiLib/buttons/secondary.scss";
@import "uiLib/form.scss";
@import "uiLib/switcher.scss";
@import "notification.scss";
.header {
    background-color: $secondaryBlue100;
    min-height: 146px;
    .container {
        @include flex(space-between, flex-start)
    }
    .logo {
        align-self: center;
    }
    .user-wrap {
        @include flex(space-between, center)
    }
    .user-figure {
        width: 48px;
        height: 48px;
        background-color: $gray200;
        border-radius: 50%;
        margin-right: 10px;
        @include flex(center, center);
        &.mobile {
            display: none;
        }
    }
    .user-menu {
        align-self: flex-end;
    }
    .menu-ul {
        margin: 28px 0 10px 10px;
    }
    .menu-li {
        &+.menu-li {
            margin-left: 30px;
        }
    }
    @media only screen and (max-width: 776px) {
        min-height: 60px;
        .container {
            align-items: center;
        }
        .user-wrap,
        .locked-li {
            display: none;
        }
        .user-figure {
            width: 32px;
            height: 32px;
            img {
                width: 80%;
            }
            &.mobile {
                display: flex;
            }
        }
        .user-menu {
            align-self: center;
        }
        .menu-ul {
            margin: 0;
        }
        .menu-li+.menu-li {
            margin-left: 10px;
        }
    }
}

.content {
    // background-image: url('../assets/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    position: relative;
    z-index: 10;
    @include flex(center, center);
    flex-direction: column;
    // &:after {
    //     content: '';
    //     width: 100%;
    //     height: 30vh;
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     z-index: 1;
    //     background: linear-gradient(360deg, rgba(255, 255, 255, 0.75) 54.21%, rgba(255, 255, 255, 0) 99.13%);
    // }
    .notification-wrap {
        margin: 16px auto 70px auto;
    }
    .main-title {
        margin-bottom: 24px;
    }
    .calendar-form-wrapper {
        margin-top: 70px;
        @include flex(center, center)
    }
    .calendar-time-wrapper {
        background: $white;
        box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.45);
        padding: 32px 40px;
    }
    .calendar-wrapper {
        width: 100%;
        max-width: 294px;
    }
    .calendar-head {
        @include flex(center, center);
        margin-bottom: 26px;
        .month {
            text-transform: uppercase;
            padding: 0 30px;
        }
    }
    .calendar-ul {
        flex-wrap: wrap;
        &.dates {
            .calendar-li {
                color: $gray300;
                &.disabled {
                    color: $gray200;
                }
            }
        }
    }
    .calendar-li {
        min-width: 42px;
        padding: 8px 5px;
    }
    .time-wrapper {
        margin-left: 60px;
    }
    .time-head {
        .arrow {
            margin-left: 8px;
            width: 14px;
        }
    }
    .time-subhead {
        margin: 6px 0 16px 0;
    }
    .time-btn {
        width: 100%;
        background-color: $gray300;
        color: $white;
        height: 42px;
        line-height: 42px;
        margin-bottom: 8px;
        border-radius: 30px;
        transition: all 0.1s linear;
        &.active,
        &:hover {
            background-color: $primaryBlue100;
        }
    }
    .form-wrapper {
        width: 100%;
        max-width: 490px;
        margin-left: 40px;
        box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.45);
        background-color: $secondaryBlue100;
        padding: 32px;
    }
    .label {
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        &[for='message'] {
            margin-top: 32px;
        }
    }
    .textarea {
        padding: 18px 23px;
        height: 140px;
    }
    .footer {
        margin: 100px 0 80px 0;
    }
    .footer-head {
        @include flex(center, center);
        .switcher {
            margin-right: 14px;
        }
    }
    .buttons-wrapper {
        @include flex(center, center);
        margin-top: 36px;
        .btn {
            margin: 0 5px;
        }
    }
}