@mixin bg-opacity($color, $opacity) {
    background: $color;
    /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin flex($justifyContent, $alignItems: flex-start) {
    display: flex;
    justify-content: $justifyContent;
    align-items: $alignItems;
}