<main>
    <header class="header d-flex">
        <div class="container">
            <figure class="user-figure mobile">
                <img class="user-avatar" src="../assets/user.png" alt="User avatar">
            </figure>
            <a href="#" class="logo">
                <img src="../assets/logo-main.svg" alt="Brand logo" class="lg-screen">
                <img src="../assets/logo-mini.svg" alt="Brand logo" class="sm-screen">
            </a>
            <div class="user-menu">
                <a href="#" class="user-wrap desktop">
                    <figure class="user-figure">
                        <img class="user-avatar" src="../assets/user.png" alt="User avatar">
                    </figure>
                    <p class="user-name white">Ton Hanchai</p>
                </a>
                <ul class="menu-ul d-flex">
                    <li class="menu-li calendar-li">
                        <a href="#" class="menu-li-a">
                            <img src="../assets/calendar.svg" alt="Calendar">
                        </a>
                    </li>
                    <li class="menu-li message-li">
                        <a href="#" class="menu-li-a">
                            <img src="../assets/message-notification.svg" alt="Message">
                        </a>
                    </li>
                    <li class="menu-li locked-li">
                        <a href="#" class="menu-li-a">
                            <img src="../assets/locked.svg" alt="Locked">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="content">
        <div class="container">
            <app-notification></app-notification>
            <h1 class="fz38 gray400 fw700 text-center main-title">Welcome back, Ton!</h1>
            <h2 class="fz24 gray400 fw400 text-center">Please choose a date, time, and message.</h2>
            <div class="calendar-form-wrapper">
                <div class="calendar-time-wrapper d-flex">
                    <app-calendar></app-calendar>
                    <app-time></app-time>
                </div>
                <div class="form-wrapper">
                    <form action="" class="form">
                        <div class="form-group">
                            <label for="project" class="label fz16 fw400 white">Subject *</label>
                            <app-input></app-input>
                            <label for="message" class="label fz16 fw400 white">Subject *</label>
                            <app-textarea></app-textarea>
                        </div>
                    </form>
                </div>
            </div>
            <div class="footer">
                <div class="footer-head d-flex">
                    <app-switcher></app-switcher>
                    <p class="fz16 fw400 gray400">Includes selected date and time </p>
                </div>
                <div class="buttons-wrapper">
                    <a href="#" class="btn default">cancel</a>
                    <a href="#" class="btn primary">submit</a>
                </div>
            </div>
        </div>
    </section>

</main>