<header>
    <div class="container">
        <a href="#" class="logo">
            <img src="../assets/logo-main.svg" alt="Brand logo">
        </a>
        <div class="user-menu">
            <div class="user-wrap">
                <img class="user-avatar" src="" alt="User avatar">
                <p class="user-name">Ton Hanchai</p>
            </div>
        </div>
    </div>
</header>




<!-- <div class="notification-wrap">
    <div class="icon-container"></div>
    <p class="p-16 fw-400">You have 2 messages waiting!</p>
    <button class="close-btn">
			<img src="../assets/close.svg" alt="Close" class="close">
		</button>
</div> -->