<div class="time-wrapper text-center">
    <div class="time-head d-flex">
        <p class="fz21 fw700 fw400">Pacific (PST) Time</p>
        <div class="arrow arrow-bottom"></div>
    </div>
    <p class="time-subhead fz16 fw400 gray300">Pacific (PST) Time</p>
    <ul class="time-body-ul">
        <li class="time-body-li">
            <button class="time-btn">10:00 am</button>
        </li>
        <li class="time-body-li">
            <button class="time-btn active">10:30 am</button>
        </li>
        <li class="time-body-li">
            <button class="time-btn">11:00 am</button>
        </li>
        <li class="time-body-li">
            <button class="time-btn">11:30 am</button>
        </li>
    </ul>
</div>